# Ignore python notebooks specific files
.ipynb_checkpoints

# Ignore .hdf5 files (they're downloaded)
*.hdf5

# Ignore .vscode folder
.vscode
.vs

# Ignore database files
PANDAR_database_1.0/

# Ignore matlab backup files
*.asv